* {
  box-sizing: border-box;
  image-rendering: pixelated;
}

html, body, [role=application] {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

[role=application] {
  align-content: stretch;
  color: white;
  display: flex;
  flex-direction: column;
}
