* {
  box-sizing: border-box;
  image-rendering: pixelated;
}

html, body, [role=application] {
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;
}

[role=application] {
  align-content: stretch;
  color: white;
  display: flex;
  flex-direction: column;
}
