{
  "env": { "browser": true },
  "extends": "@fuelrats/eslint-config-react",
  "rules": {
    "arrow-parens": "off",
    "id-length": "off",
    "new-parens": "off",

    "import/no-cycle": "off",
    "import/prefer-default-export": "off"
  }
}
