.grid {
  --gutter: 2rem;

  align-items: flex-start;
  display: grid;
  grid-gap: var(--gutter);

  &.columns-auto {
    grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
  }

  @for $column-count from 2 to 12 {
    &.columns-$(column-count) {
      grid-template-columns: repeat($(column-count), 1fr);
    }

    > .span-$(column-count) {
      grid-column: span $(column-count);
    }
  }

  @for $offset from 1 to 11 {
    @for $child from 1 to 11 {
      > .offset-$(offset) {
        &:nth-child($(child)n) {
          grid-column-start: $offset + $child;
        }
      }
    }
  }
}
