.hotbar {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;

  li {
    align-items: center;
    border-color: var(--white);
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    cursor: pointer;
    display: flex;
    height: 7vmax;
    justify-content: center;
    opacity: 0.6;
    transition-duration: 0.2s;
    transition-property: opacity;

    width: 7vmax;

    &:hover {
      opacity: 1;
    }
  }

  &[data-position=horizontal] ol {
    flex-direction: row;
  }

  &[data-position=vertical] ol {
    flex-direction: column;
  }

  &[data-vertical-alignment=bottom] {
    bottom: 1rem;
  }

  &[data-vertical-alignment=middle] {
    top: 50%;
    transform: translateY(-50%);
  }

  &[data-vertical-alignment=top] {
    top: 1rem;
  }

  &[data-horizontal-alignment=left] {
    left: 1rem;
  }

  &[data-horizontal-alignment=middle] {
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-horizontal-alignment=right] {
    right: 1rem;
  }

  &[data-vertical-alignment=middle][data-horizontal-alignment=middle] {
    transform: translate(-50%, -50%);
  }
}
