:root {
  --white: #feffff;
  --grey1: #a9a9a9;
  --grey2: #a0a0a0;
  --grey3: #525252;
  --grey4: #3c3c3c;
  --black: #000;

  --gold: goldenrod;

  --green: green;

  --rust: chocolate;

  --wood1: #321300;
  --wood2: #6f3f00;
  --wood3: #c8913e;

  --leather1: #442823;
  --leather2: #5a3422;
  --leather3: #d9a066;

  --pink: #e21bd1;
  --pink-alt1: #b416a7;

  --background-color: var(--grey3);
  --background-alt-color: var(--grey2);
  --background-light-color: var(--grey4);

  --success-color: var(--green);
}
